<p style="color: green"><%= notice %></p>

<% content_for :title, "Services" %>

<h1>Services</h1>

<div class="row row-cols-1 row-cols-md-3 g-4" id="services">
  <% @services.each do |service| %>
    <div class="col">
      <%= render "resource_card",
            record: service,
            title: service.title,
            subtitle: service.summary,
            body: truncate(service.content, length: 150),
            image: service.image_filename %>
    </div>
  <% end %>
</div>

<% if can? :create, Service %>
  <%= link_to "New service", new_service_path, class: "btn btn-primary mt-4" %>
<% end %>