<p style="color: green"><%= notice %></p>

<% content_for :title, "Blogs" %>

<h1>Blogs</h1>

<div class="row row-cols-1 row-cols-md-3 g-4" id="blogs">
  <% @blogs.each do |blog| %>
    <div class="col">
      <%= render "resource_card",
            record: blog,
            title: blog.title,
            subtitle: blog.headingone,
            body: truncate(blog.bodyone, length: 300),
            image: blog.image_filename %>
    </div>
  <% end %>
</div>

<% if can? :create, Blog %>
  <%= link_to "New blog", new_blog_path, class: "btn btn-primary mt-4" %>
<% end %>