<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>

<div class="row row-cols-1 row-cols-md-3 g-4" id="projects">
  <% @projects.each do |project| %>
    <div class="col">
      <%= render "resource_card",
            record: project,
            title: project.title,
            subtitle: project.customer,
            body: truncate(project.description, length: 300),
            image: project.image_filename %>
    </div>
  <% end %>
</div>

<% if can? :create, Project %>
  <%= link_to "New project", new_project_path, class: "btn btn-primary mt-4" %>
<% end %>